{
        "..CT" = "ct"; 
        "8BIM" = "psd"; "8BPS" = "psd"; 
        "AB65" = "p65"; 
        "AGD3" = "fh8"; "AGD4" = "fh9"; "AGD5" = "fh10"; "AGD6" = "fhmx"; 
        "ALB3" = "pm3"; "ALB4" = "pm4"; "ALB5" = "pm5"; "ALB6" = "pm6"; 
        "APPL" = "app"; 
        "aust" = "sea"; 
        "BMP " = "bmp"; ".BMP" = "bmp"; "BMP_" = "bmp"; "BMPf" = "bmp"; 
        "CDIC" = "dic"; 
        "CDR6" = "cdr"; "CDRW" = "cdr"; 
        "CDT " = "cdt"; ".CDT" = "cdt"; "CDT_" = "cdt"; "CDT6" = "cdt"; 
        "DWG " = "dwg"; 
        "DXF " = "dxf"; ".DXF" = "dxf"; "DXF_" = "dxf"; 
        "EPSF" = "eps"; "EPSP" = "eps"; 
        "FH10" = "fh10"; "FH40" = "fh4"; "FH50" = "fh5"; "FH60" = "fh6"; "FH70" = "fh7"; 
        "FH80" = "fh8"; "FH90" = "fh9"; "FHD3" = "fh3"; 
        "GIF " = "gif"; ".GIF" = "gif"; "GIF_" = "gif"; "GIFf" = "gif"; 
        "GZIP" = "gz"; 
        "ICO " = "ico"; 
        "inDd" = "indd"; 
        "JPEG" = "jpg"; 
        "MooV" = "mov"; 
        "MSWD" = "doc"; 
        "PCX " = "pcx"; 
        "PDF " = "pdf"; "PDF " = "pdf"; "PDF_" = "pdf"; ".PDF" = "pdf"; 
        "PICT" = "pict"; 
        "PM3F" = "pm3"; "PM4F" = "pm4"; "PM5F" = "pm5"; 
        "PNG " = "png"; 
        "PPT3" = "ppt"; "PPTV" = "ppt"; 
        "PUBF" = "pm2"; 
        "QTIF" = "tif"; 
        "RTF " = "rtf"; "RTF " = "rtf"; "RTF_" = "rtf"; 
        "SLD8" = "ppt"; 
        "SWFL" = "swf"; 
        "SIT5" = "sit"; 
        "TGA" = "tga"; 
        "TIF " = "tif"; "TIFF" = "tif"; 
        "TPIC" = "tga"; 
        "ttro" = "txt";
        "W6BN" = "doc"; "W8BN" = "doc"; "WDBN" = "doc"; 
        "WMF " = "wmf"; "WMF " = "wmf"; "WMF_" = "wmf"; 
        "WP4 " = "wpd"; "WP5 " = "wpd"; "WP6 " = "wpd"; "WPD0" = "wpd"; 
        "WPRD" = "prd"; 
        "XDOC" = "qxd"; 
        "XLS8" = "xls"; 
        "ZIP " = "zip"; "ZIP " = "zip"; "ZIP_" = "zip" ;
}